* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

#game {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
}

#control-panel {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: white;
  background-color: black;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn-control {
  font-size: 2em;
  user-select: none;
}

.btn-control:hover {
  cursor: pointer;
}

#btn-refresh,
#btn-draw-mode {
  margin: 0px 5px 0px 25px;
}
